{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <div>
    <h1 class="display-4">Archivo recibido</h1>
  </div>

  <div>
    <form action="" method="POST">
      {{ form.csrf_token }}
         {{form.camion.label() }} {{form.camion()}} {{form.centro.label() }} {{form.centro()}} {{form.punto.label() }} {{form.punto()}} {{form.productos.label() }} {{form.productos()}} {{form.agregar(class="btn btn-success")}}<br/>
      <br/>
      <div>
        Ingreso: {{ message }}
        {{ message2 }}
      </div>
      <br/>
      <input class="btn btn-outline-primary" type = "submit" name = "enviar" value = "Enviar"/>
    </form>
  </div>
</div>

{% endblock%}