{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Grafos Trabajo Integral</h1>
  <p class="lead">Tranpostes de productos
      - Contruir hoja de ruta de manera eficiente, minimizando las distancias que recorren los camiones en la entrega de productos
  </p>
  <hr class="my-4">
  <p>Se deben usar coordenadas GPS cargadas desde un archivo</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('about')}}" role="button">About</a>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
</div>

{% endblock%}